html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0px auto;
  line-height: 1.6;
  background-color: rgb(var(--color_36));
  font-weight: 400;
}
.page-wrapper {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

:root {
  --color_0: 255, 255, 255;
  --color_1: 30, 30, 30;
  --color_2: 180, 106, 44;
  --color_3: 105, 102, 102;
  --color_4: 245, 245, 245;
  --color_5: 250, 232, 219;
  --color_6: 255, 255, 255;
  --color_7: 199, 199, 199;
  --color_8: 143, 143, 143;
  --color_9: 86, 86, 86;
  --color_10: 30, 30, 30;
  --color_11: 245, 245, 245;
  --color_12: 219, 219, 219;
  --color_13: 143, 143, 143;
  --color_14: 30, 30, 30;
  --color_15: 30, 30, 30;
  --color_16: 236, 205, 178;
  --color_17: 218, 155, 102;
  --color_18: 162, 96, 40;
  --color_19: 120, 71, 29;
  --color_20: 60, 35, 15;
  --color_21: 148, 255, 97;
  --color_22: 127, 227, 79;
  --color_23: 100, 179, 62;
  --color_24: 80, 143, 50;
  --color_25: 56, 99, 35;
  --color_26: 87, 194, 255;
  --color_27: 54, 164, 227;
  --color_28: 34, 121, 171;
  --color_29: 22, 84, 120;
  --color_30: 13, 52, 74;
  --color_31: 252, 139, 139;
  --color_32: 252, 53, 53;
  --color_33: 201, 40, 40;
  --color_34: 150, 24, 24;
  --color_35: 103, 14, 14;
  --color_36: 245, 245, 245;
  --color_37: 30, 30, 30;
  --color_38: 219, 219, 219;
  --color_39: 143, 143, 143;
  --color_40: 86, 86, 86;
  --color_41: 162, 96, 40;
  --color_42: 120, 71, 29;
  --color_43: 143, 143, 143;
  --color_44: 245, 245, 245;
  --color_45: 30, 30, 30;
  --color_46: 30, 30, 30;
  --color_47: 86, 86, 86;
  --color_48: 162, 96, 40;
  --color_49: 162, 96, 40;
  --color_50: 245, 245, 245;
  --color_51: 245, 245, 245;
  --color_52: 162, 96, 40;
  --color_53: 162, 96, 40;
  --color_54: 143, 143, 143;
  --color_55: 143, 143, 143;
  --color_56: 245, 245, 245;
  --color_57: 245, 245, 245;
  --color_58: 162, 96, 40;
  --color_59: 162, 96, 40;
  --color_60: 162, 96, 40;
  --color_61: 162, 96, 40;
  --color_62: 245, 245, 245;
  --color_63: 245, 245, 245;
  --color_64: 143, 143, 143;
  --color_65: 143, 143, 143;
  --font_0: normal normal normal 88px/1.4em poppins-semibold, poppins,
    sans-serif;
  --font_1: normal normal normal 14px/1.79em poppins-extralight, poppins,
    sans-serif;
  --font_2: normal normal normal 72px/1.4em poppins-semibold, poppins,
    sans-serif;
  --font_3: normal normal normal 50px/1.4em poppins-semibold, poppins,
    sans-serif;
  --font_4: normal normal normal 40px/1.4em poppins-semibold, poppins,
    sans-serif;
  --font_5: normal normal normal 28px/1.4em poppins-semibold, poppins,
    sans-serif;
  --font_6: normal normal normal 22px/1.4em poppins-semibold, poppins,
    sans-serif;
  --font_7: normal normal normal 20px/1.67em poppins-semibold, poppins,
    sans-serif;
  --font_8: normal normal normal 15px/1.4em poppins-extralight, poppins,
    sans-serif;
  --font_9: normal normal normal 14px/1.4em poppins-extralight, poppins,
    sans-serif;
  --font_10: normal normal normal 14px/1.79em poppins-extralight, poppins,
    sans-serif;
  --site-width: 980px;
  --above-all-z-index: 100000;
  --portals-z-index: 100001;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --minViewportSize: 320;
  --maxViewportSize: 1920;
  --theme-spx-ratio: 1px;
  --txts: var(--color_18);
  --trans: color 0.4s ease 0s;
}

a {
  transition: var(--link-transition);
  &:focus {
    outline: none;
  }
}

/* Background transition for links */
a[class^="bg-"]:not(.btn),
a[class*="bg-"]:not(.btn) {
  transition: background--color 0.25s ease;
}

img,
figure {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
svg {
  max-width: 100%;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.65;
}

.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  bottom: 20px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  width: 6px;
  height: 6px;
  margin: 0 2.5px;
}
.slick-dots li button:before {
  color: var(--color_0) !important;
  opacity: 0.5 !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
}

.slick-dots li button {
  width: 6px !important;
  height: 6px !important;
}
.slick-dots li button:before {
  width: 6px !important;
  height: 6px !important;
  line-height: 6px !important;
}

.slick-next {
  right: 40px !important;
  z-index: 2;
}
.slick-next::before,
.slick-prev::before {
  display: none;
}

.slick-prev {
  left: 40px !important;
  z-index: 2;
}

.slick-arrow {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.slick-arrow:hover {
  transition: all 0.3s linear;
  background-color: rgb(var(--color_0));
}

.slick-arrow:hover path {
  stroke: var(--color-gray-700);
}

.icon-facebook:hover {
  background-color: #1877f2;
}

.icon-instagram:hover {
  background-color: #c13584;
}

.icon-twitter:hover {
  background-color: #1da1f2;
}

.icon-linkedin:hover {
  background-color: #0077b5;
}

hr {
  margin: 0 0;
  color: var(--color-gray-300);
  border: 0;
  border-top: 1px solid;
  opacity: 1;
}

ul {
  padding-inline-start: 1rem;
  margin-block-start: 0px;
}

@media screen and (min-width: 500px) {
  .container {
    max-width: var(--maxwidth-sm);
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: var(--maxwidth-md);
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: var(--maxwidth-lg);
  }
  .offcanvas-backdrop {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: var(--maxwidth-xl);
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: var(--maxwidth-xxl);
  }
}

input,
textarea {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  appearance: none;
  font: inherit;
  outline: inherit;
  margin-block-end: 0;
  margin-block-start: 0;
}

textarea {
  resize: vertical;
}

::placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder,
textarea::placeholder,
textarea::-ms-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--color-gray-600);
}

.btn {
  background-color: #1e1e1e;
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 300;
  padding: 12px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin: 2rem 0px;
  text-decoration: none;
}
