.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.image_container {
  position: relative;
  transition: all 0.2s ease-in-out;
}
.image_container:hover {
  filter: brightness(60%);
}

.img_bg {
  background-color: var(--color-gray-100);
  border-radius: 0.5rem;
}
.img_bg > br {
  border-radius: 0.5rem;
}
.text_container {
  display: flex;
  flex-direction: column;
  max-width: 97%;
  padding: 0px 0.75rem;
}
.service_name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  color: #fff;
  text-align: center;
  max-width: 97%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.description {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--color_15);
  text-align: center;
  max-width: 97%;
}

.designs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.designs > div:last-child {
  margin-right: 0px !important;
}

.design {
  font-weight: 800;
  line-height: 1.6;
  font-size: 1rem !important;
  margin-right: 1.5rem;
}

.langs {
  display: flex;
  align-items: center;
}

.lang {
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
}

.testing {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.result {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.result > div:first-child {
  font-weight: 800;
  line-height: 1.3;
  color: var(--color-gray-900);
  margin-top: 0px;
  font-size: calc(1.325rem + 0.9vw);
}

.btn {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgb(99 102 241 / 90%);
  color: rgb(var(--color_0));
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.785rem 2rem;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: var(--color-primary);
  cursor: pointer;
  max-width: fit-content;
}
.btn:hover {
  box-shadow: unset;
}

.descriptions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gallery_overlay {
  position: absolute;
  background-color: rgba(245, 245, 245, 1) !important;
  /* background-color: #333; */
  height: 230vh;
  width: 100vw;
  max-width: 1400px;
  left: 0;
  top: 0px;
  z-index: 2;
  overflow:hidden;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.gallery {
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0px 4rem;
}

.l_la,
.l_ra {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.l_la svg {
  filter: drop-shadow(0px 1px 0.15px #b2b2b2);
}

.l_ra svg {
  filter: drop-shadow(0px 1px 0.15px #b2b2b2);
}

.l_a {
  position: absolute;
  top: 50%;
}

.l_g {
  display: flex;
  flex: 0 0 60%;
  justify-content: space-between;
  align-items: center;
}

.r_g {
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
}

.g_img {
  width: 80%; 
  max-height: 420px;
  transition: all 0.2s ease-in-out;
}

.g_title {
  display: flex;
  font-weight: 20px;
  font-weight: 800;
  color: #1e1e1e;
  padding-bottom: 24px;
}
.g_desc {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  color: #1e1e1e;
}

.cross_g {
  position: absolute;
  right: 50px;
  top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
h1.heading{
  color:var(--White-01,#fff);
  font-size: 4rem;
  font-weight: 400;
  line-height: normal;

}
p.para{
  color:#cbcbcb;
  font-size:1rem;
  font-weight:400;
  line-height: 1.875rem;;
}
.submit_button{
display:flex;
padding:.9rem 1.8rem;
align-items: center;
border-radius: 6.25rem;
border:1px solid #eb5757;
background-color: transparent;
color:#eb5757;
text-align: center;
font-size: 1rem;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
cursor: pointer;
}
.submit_button:hover{
  background-color:#eb5757;
  color:#fff;
  transition:background-color 0.15s ease, color 0.15s ease;
}
@media screen and (max-width: 500px) {
  .gallery {
    flex-direction: column;
    padding: 0px 1rem;
    gap: 2rem;
  }
  .l_g {
    gap: 40px;
  }
  .cross_g {
    right: 2rem;
  }
  h1.heading{
    font-size: 3rem;
  }
}

@media screen and (min-width: 1400px) {
  .gallery_overlay {
    left: calc((100vw - 1400px) / 2);
  }
  .cross_g {
    right: calc((100vw - 1400px) / 2 + 2rem);
  }
}

@media screen and (min-width: 768px) {
  .text_container {
    justify-content: flex-start;
    padding: 0px;
  }
  .title {
    margin-top: 0px;
  }
  .image_container {
    flex: 0 0 auto;
  }
}
